# KurupDevs All-in-One Telegram Bot
# Made by: @kurupdevs

API_ID=123456
API_HASH=your_api_hash_here
SESSION_STRING=
DATABASE_TYPE=sqlite
DATABASE_URL=
DATABASE_NAME=kurupdevs
SUDO_USERS=
LOG_CHANNEL=
GEMINI_KEY=
OPENAI_KEY=
WEATHER_API_KEY=
RMBG_KEY=
VT_KEY=
PM_LIMIT=4
PREFIX=.
PORT=8000